---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Que Ofrecemos
            </Title>
            <Paragraph>
                Nuestro proyecto se puede resumir en estas 6 tarjetas.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Descripcion general" description="Ante la falta de un registro efectivo de asistencias en el SENA durante las actividades académicas y eventos, surge SAGA. Esta innovadora solución aborda el problema de la toma de asistencias de manera eficiente y se convierte en una herramienta indispensable para el control y seguimiento de los aprendices en el centro de formación.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="Proposito" description="SAGA no se limita a ser solo un registro de asistencias, sino que aspira a ser un compañero inseparable de cada aprendiz. Nuestro propósito es brindar una experiencia de seguimiento personalizada y eficaz que beneficie tanto a los estudiantes como a los instructores.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="Alcance" description="El proyecto SAGA se enfoca en resolver la gestión de asistencias en una amplia gama de actividades dentro y fuera de las instalaciones del SENA, incluyendo eventos, reuniones, clases y más. Buscamos simplificar y mejorar la toma de asistencias en todas estas áreas.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="Perspectiva del producto" description="SAGA es un sistema integral y autónomo, diseñado desde cero para el SENA. Esto incluye la implementación de un sistema de control, una base de datos completa, una aplicación móvil y un soporte web que se integra perfectamente en el entorno de formación.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="Funcionalidad del producto" description="Nuestra plataforma permite organizar y mantener un control sólido sobre las asistencias, ofrece un calendario de actividades para los aprendices, registra ingresos y salidas, y simplifica los procesos, manteniendo un orden impecable dentro del centro de formación.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="Evolución previsible del sistema" description="Estamos enfocados en llevar SAGA a nivel nacional dentro del SENA. Además, contemplamos la posibilidad de integrar funcionalidades adicionales, como la visualización de notas de Territorium en la aplicación, la reserva de ambientes de formación por parte de los instructores y la disponibilidad de estos espacios para los aprendices.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
        </div>
    </Container>
</section>